{% extends "blogs/base.html" %}

{% block content %}
  <p>Feel free to write anything you want in this blog.</p>

  <ul>
    {% for post in posts %}
      <li>
          <p>
            <a href="{% url 'blogs:post' post.id %}">
              {{ post.title }}
            </a>
          </p>
          <p>{{ post.date_added|date:'M d, Y H:i' }}</p>
          <p>{{ post.text|linebreaks }}</p>
      </li>
    {% empty %}
      <li>No Posts have been entered yet.</li>
    {% endfor %}
  </ul>

{% endblock content %}
